<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8783F4912671153D008D88F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8783F4A72671153E008D88F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8783F4B22671153E008D88F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
